.editProfile-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 150px 50px;
    gap: 50px;
}
.editProfile-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.editProfile-input input {
    border: none;
    background-color: white;
    border-radius: 10px;
    height: 50px;
    padding-left: 20px; 
    /* color: white; */
}

.editProfile-container button {
    background-color:rgb(80, 130, 177);
    color: white;
    border: solid rgba(161, 161, 161, 0.5) 1px;
    height: 50px;
    border-radius: 20px;
    
}